[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = "Application"
resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0
resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"
resources.view[] = 
fontPath = APPLICATION_PATH "/../library/fonts"
autoloaderNamespaces.ag = "AG_"
flickrApiKey  = "8eed21229c89731237d473a0f1a46619"
flickrUsername = "lorddeath@gmail.com"
lookingForWork = 0

;routes.post.route = "post/:id/:title"
;routes.post.defaults.controller = blog
;routes.post.defaults.action = post

resources.db.adapter = "PDO_MYSQL"
resources.db.params.host = "localhost"
resources.db.params.username = "ENTER_DBMS_USERNAME"
resources.db.params.password = "ENTER_DBMS_PASSWORD"
resources.db.params.dbname = "ENTER_DATABASE_NAME"
resources.db.params.charset = "utf8"

; Custom Caches (Adjustments To Default CacheManager)
resources.cacheManager.page.backend.options.public_dir = APPLICATION_PATH "/../public/cached"
resources.cacheManager.pagetag.backend.options.cache_dir = APPLICATION_PATH "/tmp/cache-tags"
resources.frontController.params.disableOutputBuffering = true

resources.log.stream.writerName = "Stream"
resources.log.stream.writerParams.stream = APPLICATION_PATH "/../logs/error.log"
resources.log.stream.writerParams.mode = "a"
resources.log.stream.filterName = "Priority"
resources.log.stream.filterParams.priority = 7

[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
resources.cacheManager.page.backend.options.disable_caching = true
